<!--
  Generated template for the RegperPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Registro de Personas</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>     
        <form [formGroup] = "RegPersona" (ngSubmit)="regper" novalidate>
            <ion-item>
                <ion-label>Tipo de documento</ion-label>
                <ion-select formControlName="tipo" value="gaming">
                    <ion-option value="1">Cédula</ion-option>
                    <ion-option value="2">Pasaporte</ion-option>
                    <ion-option value="3">Tarjeta Identidad</ion-option>
                    <ion-option value="4">Registro Civil</ion-option>
                    <ion-option value="5">Cédula Extranjería</ion-option>
                </ion-select>
            </ion-item>

            <ion-item *ngIf="RegPersona.get('tipo').errors && >  


                <ion-item>
                    <ion-label floating>Número de cédula</ion-label>
                    <ion-input formControlName="numero" type="text" value=""></ion-input>
                </ion-item>


                <ion-item>
                    <ion-label floating> Nombre </ion-label>
                    <ion-input formControlName="nombre" type="text" value=""></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label floating> Apellido </ion-label>
                    <ion-input formControlName="apellido" type="text" value=""></ion-input>
                </ion-item>
                <ion-item *ngIf="RegPersona.get('apellido').errors && RegPersona.get('apellido').dirty">
                    <p color="danger" ion-text *ngIf="RegPersona.get('apellido').hasError('required')">El Campo es requerido</p>
                    <p color="danger" ion-text *ngIf=RegPersona.get('apellido').hasError('pattern')">Ej: No debe llevar número</p>
                </ion-item>

                <ion-item>
                    <ion-label floating> Teléfono </ion-label>
                    <ion-input formControlName="tel" type="text" value= ""></ion-input>
                </ion-item>

                <ion-item *ngIf="RegPersona.get('tel').errors && RegPersona.get('tel').dirty">

                    <ion-item>
                        <ion-label floating> E-mail </ion-label>
                        <ion-input formControlName="email" type="email" type="text"</ion-input>
                    </ion-item>

                    <ion-item *ngIf="RegPersona.get('email').errors && RegPersona.get('email').dirty">
                        <p color="danger" ion-text *ngIf="RegPersona.get('email').hasError('required')" El campo es requerido </p>
                        <p color="danger" ion-text *ngIf="RegPersona.get('email').hasError('email')">Ej:123@correo.com</p>
                        <p color="danger" ion-text *ngIf="RegPersona.get('email').hasError('maxLength')">Máximo 30 Caracteres</p>

                        <ion-item>

                            <button type="submit" ion-button [disabled]="!RegPersona.valid" > Almacenar </button>
                            <button type="reset" ion-button color="danger" style="float:right;"> Limpiar </button>
                        </ion-item>

                        </form>
                        </ion-list>  

                        </ion-content>
